* *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rating-container, .thankyou-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
    color: white;
    height: 55vh;
    width: 25vw;
    background-color: hsl(216, 12%, 8%);
    border-radius: 1.5em;
}

.thankyou-info {
    padding: .5em .75em;
}


.header, .title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2, p {
    margin: 0;
}

.info {
    color: hsl(217, 12%, 63%);
}

.rating-radio-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-radio-toolbar input[type="radio"] {
    display: none;
}

.rating-radio-toolbar label, .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    width: 3rem;
    height: 3rem;
    border-radius: 99999px;
    cursor: pointer;
}

.rating-radio-toolbar label:hover {
    background-color: hsl(217, 12%, 63%);
    color: white
}

.rating-radio-toolbar input[type="radio"]:checked + label {
    background-color: hsl(25, 97%, 53%);
    color: white
}


.submit {
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    padding: .5em 1em;
    border-radius: 99999px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
}

.submit:hover {
    cursor: pointer;
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.submit:active {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.rating-result-low,
.rating-result-high {
    color:hsl(25, 97%, 47%);
    background-color: hsl(213, 19%, 18%);
    padding: .5em 1em;
    border-radius: 99999px;
}

.thankyou-info {
    text-align: center;
    color:hsl(217, 12%, 63%)
}

.thankyou-container {
    animation: grow 200ms linear;
}

.hide {
    display: none;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
    }
}

@media (max-width: 375px) {
    .rating-container, .thankyou-container {
        width: 55vw;
        height: 45vh;
    }

    .rating-radio-toolbar label {
        width: 2em;
        height: 2em;
    }

    .thankyou-container img {
        width: 100px;
    }
}